<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/navbar.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <!-- Left side: logo -->
        <div class="navbar-left">
            <!--<a href="/"><img src="/static/logo.png" alt="Logo" class="logo-img"></a>-->
            <a href="/dashboard"><span class="it-help-desk">IT Help Desk</span></a>
        </div>
        <!-- Right side: IT Help Desk and navigation links -->
        <div class="navbar-right">
            <!-- IT Help Desk text -->
            
            <!-- Navigation links -->
            <div class="navbar-links">
                <a href="/raise_ticket" class="navbar-link">Raise a Ticket</a>
                <a href="/view_tickets" class="navbar-link">View Previous Tickets</a>
                <a href="/faqs" class="navbar-link">FAQs</a>
                <a href="/logout" class="navbar-link logout-button">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>
